@page
@model WEB.Pages.Mascotas.IndexModel
@{
}
@if (Model.MascotasConPropietarioYExpedientes != null && Model.MascotasConPropietarioYExpedientes.Any())
{
    <section class="mt-5">
        <div class="container">
            <h2 class="text-center mb-4">Mascotas Registradas</h2>
        </div>
        <div class="col-md-12">
            <form class="d-flex" role="search">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar Mascota" aria-label="Buscar Mascota" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Propietario</th>
                        <th>Animal</th>
                        <th>Nombre</th>
                        <th>Raza</th>
                        <th>Genero</th>
                        <th>Fecha Nacimiento</th>
                        <th>Caracteristicas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MascotasConPropietarioYExpedientes)
                    {
                        <tr id="mascotas-@item.Mascota.MascotaID">
                            <td>@item.NombrePropietario</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.NombreAnimal)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.NombreMascota)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.Raza)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.Genero)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mascota.Caracteristicas)</td>
                            <td>
                                <a class="btn btn-sm btn-info w-100" asp-page="/Mascotas/Editar" asp-route-MascotaID="@item.Mascota.MascotaID">Editar</a>

                                <a class="btn btn-sm btn-danger w-100" asp-page="/Mascotas/Eliminar" asp-route-MascotaID="@item.Mascota.MascotaID">Eliminar</a>

                                @if (item.Expedientes.Any())
                                {
                                    <button type="button" class="btn btn-sm btn-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#expedienteModal-@item.Mascota.MascotaID">
                                        Ver expediente
                                    </button>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-success w-100 mt-2" asp-page="/Mascotas/addExpediente" asp-route-MascotaID="@item.Mascota.MascotaID">
                                        Agregar expediente
                                    </a>
                                }
                            </td>
                        </tr>
                        @if (item.Expedientes.Any())
                        {
                            <div class="modal fade" id="expedienteModal-@item.Mascota.MascotaID" tabindex="-1" aria-labelledby="expedienteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="expedienteModalLabel">Expediente de @item.Mascota.NombreMascota</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @foreach (var expediente in item.Expedientes)
                                            {
                                                <div>
                                                    <p><strong>Diagnóstico:</strong> @expediente.Diagnostico</p>
                                                    <p><strong>Fecha Actualización del Diagnóstico:</strong> @expediente.FechaActu</p>
                                                    <form id="editarExpedienteForm" method="post">
                                                        <input type="hidden" id="ExpedienteID" value="@expediente.ExpedienteID" />
                                                        <input type="hidden" id="MascotaID" value="@item.Mascota.MascotaID" />
                                                        <div class="mb-3">
                                                            <label for="Diagnostico" class="form-label">Editar Diagnóstico</label>
                                                            <textarea id="Diagnostico" name="Diagnostico" class="form-control" rows="3">@expediente.Diagnostico</textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-warning w-100">Actualizar Diagnóstico</button>
                                                    </form>

                                                    <br>
                                                    <button type="button" class="btn btn-danger mt-2 w-100" onclick="confirmDeleteExpediente('@expediente.ExpedienteID')">Eliminar</button>
                                                </div>
                                                <hr />
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </tbody>
            </table>
        </div>
    </section>
}
else
{
    <br>
    <div class="alert alert-danger" role="alert">
        Aún no hay mascotas registradas
    </div>
    <br>
    <div>
        <div><a href="/Index/" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>
    </div>
}
<script src="~/js/eliminarExpediente.js">
</script>
<script>
    document.getElementById('editarExpedienteForm').addEventListener('submit', async function (e) {
        e.preventDefault();

        let expedienteID = document.getElementById('ExpedienteID').value;
        let MascotaID = document.getElementById('MascotaID').value;
        let diagnostico = document.getElementById('Diagnostico').value;

        const response = await fetch('https://apiveterinaria.azurewebsites.net/api/Expediente', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ ExpedienteID: expedienteID, MascotaID: MascotaID, Diagnostico: diagnostico }),
        });

        if (response.ok) {
            Swal.fire(
                'Actualizado!',
                'El expediente ha sido Actualizado.',
                'success'
            ).then(() => {
                location.reload(); 
            });
        } else {
            alert('Error al actualizar expediente');
        }
    });

</script>
