@page
@model WEB.Pages.Productos.IndexModel
@{
}
<section class="mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Productos</h2>
        <div class="row mb-4">
            <!-- Barra de búsqueda -->
            <div class="col-md-12">
                <form class="d-flex" role="search">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar productos" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (Model.producto != null)
            {
                @foreach (var producto in Model.producto)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm h-100">
                            <img src="data:image /png;base64,@producto.ImagenConvertida" class="card-img-top" alt="Vacuna Triple Felina">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => producto.Nombre)</h5>
                                <p class="card-text"><strong>Precio: </strong>@Html.DisplayFor(modelItem => producto.Precio)</p>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" onclick="openProductModal('@producto.ImagenConvertida', '@producto.Nombre', '@producto.Precio', '@producto.Categoria', '@producto.Presentacion', '@producto.Cantidad', '@producto.Descripcion')">Ver detalles</button>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
            else
            {
                <div class="alert alert-danger" role="alert">
                    No hay productos para mostrar. Añade uno.
                </div>
            }
            <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">Detalles del producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img id="modalImage" class="img-fluid mb-3" alt="Imagen del producto">
                            <h5 style="text-align: center;" id="modalNombre"></h5>
                            <p><strong>Precio: </strong><span id="modalPrecio"></span></p>
                            <p><strong>Categoría: </strong><span id="modalCategoria"></span></p>
                            <p><strong>Presentación: </strong><span id="modalPresentacion"></span></p>
                            <p><strong>Cantidad disponible: </strong><span id="modalCantidad"></span></p>
                            <p><strong>Descripción: </strong><span id="modalDescripcion"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" id="liveToastBtn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>


          
        </div>
    </div>
</section>
<div><a href="/Home/" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<script>
    function openProductModal(imagen, nombre, precio, categoria, presentacion, cantidad, descripcion) {
        // Set the product information in the modal
        document.getElementById('modalImage').src = 'data:image/png;base64,' + imagen;
        document.getElementById('modalNombre').textContent = nombre;
        document.getElementById('modalPrecio').textContent = precio;
        document.getElementById('modalCategoria').textContent = categoria;
        document.getElementById('modalPresentacion').textContent = presentacion;
        document.getElementById('modalCantidad').textContent = cantidad;
        document.getElementById('modalDescripcion').textContent = descripcion;

        // Show the modal
        var productModal = new bootstrap.Modal(document.getElementById('productModal'));
        productModal.show();
    }
</script>

<script src="~/js/toastProducto.js" asp-append-version="true"></script>
<script src="~/js/toastProducto.js" asp-append-version="true"></script>